@font-face {
  font-family: "Arial";
  src: url("/arial.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  font-weight: bold;
  src: url("/arialbd.woff2") format("woff2");
}
