html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1.5rem 2rem auto;
}
body > header > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
body > header > ul > li {
  padding: 0 5px;
  line-height: 1.5rem;
}

#time {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #eee;

  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

main {
  height: calc(100vh - 3.5rem);
  width: 100vw;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 5fr;
  align-content: start;
}

main * {
  border: 1px solid #ccc;
  padding: 0 5px;
  height: 1.2rem;
  line-height: 1.2rem;
}

main h3 {
  position: sticky;
  top: 0;
  border: 1px outset grey;
  background-color: grey;
  font-weight: normal;
  margin: 0;
  height: 1.5rem;
  line-height: 1.5rem;
}

main :nth-child(5n + 3) {
  text-align: center;
}
main :nth-child(5n + 4) {
  text-align: center;
}
