html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Arial, "ArialWebFont", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

@font-face {
  font-family: "ArialWebFont";
  src: url("/arial.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "ArialWebFont";
  font-weight: bold;
  src: url("/arialbd.woff2") format("woff2");
}

body {
  --menu-height: 1.5rem;
  --time-height: 5rem;
  display: grid;
  grid-template-rows: var(--menu-height) var(--time-height) auto;
}

/* MENU section  */

body > nav {
  grid-row-start: 1;
  overflow: visible;
}
body > nav > ul,
body > nav > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
body > nav > ul > li {
  display: block;
  padding: 0;
  line-height: var(--menu-height);
}
body > nav > ul > li li,
nav button {
  display: block;
  width: 100%;
  height: var(--menu-height);
}

body > nav > ul > li ul {
  display: none;
}
body > nav > ul > li:hover > button {
  border-style: inset;
}
body > nav > ul > li:hover button + ul {
  display: block;
  flex-direction: column;
}

/* End of MENU section */

/* TIME section */

#time {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #eee;

  font-size: 1.7rem;
  line-height: var(--time-height);
  text-align: center;
}

/* End of TIME section */

/* CONTENT section */

main {
  height: calc(100vh - var(--menu-height) - var(--time-height));
  width: 100vw;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, auto) repeat(2, 1fr) 5fr;
  align-content: start;
}

main * {
  --border-color: #ccc;
  box-shadow: 1px 0 0 0 var(--border-color), 0 1px 0 0 var(--border-color),
    1px 1px 0 0 var(--border-color), 1px 0 0 0 var(--border-color) inset,
    0 1px 0 0 var(--border-color) inset;
  border: none;
  padding: 0 5px;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.65rem;
  text-align: center;
}

main h3 {
  position: sticky;
  top: 0;
  --border-color: grey;
  background-color: #aaa;
  font-weight: normal;
  margin: 0;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.65rem;
}

main :nth-child(5n) {
  text-align: left;
}

/* End of CONTENT section */
