.message {
  background-color: white;
  color: black;
  font-weight: normal;
}

.valid {
  background-color: #666;
  color: #0f0;
  font-weight: bold;
}

.fault {
  background-color: #666;
  color: #ff0;
  font-weight: bold;
}

.notif {
  background-color: #169003;
  color: white;
  font-weight: bold;
}

.critical {
  background-color: white;
  color: #f00;
  font-weight: bold;
}

.alarm {
  background-color: #f00;
  color: white;
  font-weight: bold;
}
