html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: 1.5rem 2rem auto;
}

body > header {
  text-outline: 0;
}
body > header > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
body > header > ul > li {
  padding: 0 0.3em;
}

#time {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #eee;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

main {
  height: calc(100vh - 3.5rem);
  width: 100vw;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 5fr;
  grid-template-rows: 1.5rem;
}

main * {
  border: 1px solid #ccc;
  padding: 0 5px;
}

main h3 {
  position: sticky;
  top: 0;
  border: 1px outset grey;
  background-color: grey;
  margin: 0;
}

main :nth-child(5n + 3) {
  text-align: center;
}
main :nth-child(5n + 4) {
  text-align: right;
}
