html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: normal;
}

body {
  --menu-height: 1.5rem;
  --time-height: 5rem;
  display: grid;
  grid-template-rows: var(--menu-height) var(--time-height) auto;
}

/* MENU section  */

body > nav {
  --separator-color: black;
  grid-row-start: 1;
  overflow: visible;
  position: relative;
}
body > nav > ul,
body > nav > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
body > nav > ul > li {
  display: block;
  padding: 0;
  line-height: var(--menu-height);
}
body > nav > ul > li li,
nav button {
  display: block;
  width: 100%;
  height: var(--menu-height);
}
body > nav > ul > li li.separator {
  height: 1px;
  background-color: var(--separator-color);
}

body > nav > ul > li ul {
  flex-direction: column;
  visibility: hidden;
  height: 0;
}
body > nav > ul > li:hover > button {
  border-style: inset;
}
body > nav > ul > li:hover button + ul {
  visibility: visible;
  height: auto;
}

/* End of MENU section */

/* TIME section */

#time {
  display: block;
  width: 100%;

  font-size: 1.7rem;
  line-height: var(--time-height);
  text-align: center;
}

/* End of TIME section */

/* CONTENT section */

main {
  height: calc(100vh - var(--menu-height) - var(--time-height));
  width: 100vw;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr 5fr;
  align-content: start;
  --border-color: #ccc;
}

main * {
  box-shadow: 1px 0 0 0 var(--border-color), 0 1px 0 0 var(--border-color),
    1px 1px 0 0 var(--border-color), 1px 0 0 0 var(--border-color) inset,
    0 1px 0 0 var(--border-color) inset;
  border: none;
  padding: 0 5px;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.65rem;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main h3 {
  position: sticky;
  top: 0;
  font-weight: normal;
  margin: 0;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.65rem;
  background-color: var(--border-color);
}

/* End of CONTENT section */
